html {
  all: unset;
}

ul {
  all: unset;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

html {
  font-family:'Inter', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
}

.listStyle {
  transition: all 1s ease-out;
}
body {
  background-color: #E8F5F0
}

.mainSection {
  display:flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1248px;
}

.topSection {
  display: flex;
  justify-content: space-evenly;
}


.balanceModule {
  color: #4B5563;
  padding: 24px;
  max-width: 400px;
  max-height: 148px;
  width: 400px;
  border-radius: 12px;
  background-color: #FFFFFF;
  text-align: left;
  font-size: 12pt;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.055);
}
.balanceModule:nth-child(2) {
  margin: 0 24px;
}
.balanceModule h2 {
  color: #1F2937;
}

.innerModule {
  min-width: 150px;
  margin: 5px 0;
}

.listSection {
  text-align: left;
  background-color: #FFFFFF;
  margin-top: 24px;
  border-radius: 12px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.055);
}

.topPartOfList {
  display: flex;
  justify-content: space-between;
}

.recentTransactions {
  color: #1F2937;
  margin: 24px;
  font-weight:bold;
  font-size: 1.3rem;
}

.sortBy {
  display: flex;
  margin: 24px;
}

.sortByMonth {
  margin-right: 13px;
}

.sortByCategory {
 
}

.budgetList {
  font-size: 1.1rem;
}

.listLine {
  margin: 34px 54px;
  display: flex;
  justify-content: space-between;
}

.leftListItem {
  
}